<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card Id="1"
      photoCover="https://t.ctcdn.com.br/aeFrblGI46Q8J55qEoXM3VQLzOY=/1200x675/smart/filters:format(webp)/i749840.png"
      cardTitle="APPLE ANUNCIA ÓCULOS DE REALIDADE AUMENTADA "
      cardDescription="A Apple lançou na segunda-feira (6/6) o seu aguardado óculos de realidade aumentada, o Apple Vision Pro — o seu primeiro grande lançamento de hardware em quase uma década.
      O CEO da Apple, Tim Cook, disse que o novo aparelho 'combina perfeitamente o mundo real e o mundo virtual'.">
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="SpaceX contrata garoto prodígio de apenas 14 anos"
      photoCover="https://th.bing.com/th?id=OIF.Xxa%2boPMyhx2u3M6g8cK34A&w=276&h=180&c=7&r=0&o=5&pid=1.7">
    </app-small-card>

    <app-small-card Id="3" cardTitle="CEO da OpenAI diz que trabalho remoto foi um erro"
      photoCover="https://th.bing.com/th/id/R.965aa6843bbe7194db5be0d36623543d?rik=wIa%2bBdplxxuskA&pid=ImgRaw&r=0">
    </app-small-card>

    <app-small-card Id="4" cardTitle="Produtor da série Black Mirror tentou usar ChatGPT, mas se decepcionou"
      photoCover="https://th.bing.com/th/id/R.0ad60c0d2782f223001852af61042c2d?rik=myQqzDN%2bZOZtfA&riu=http%3a%2f%2fksassets.timeincuk.net%2fwp%2fuploads%2fsites%2f55%2f2017%2f11%2f2017_CharlieBrooker_Rex_291117.jpg&ehk=c5Ebm0eKj9hbtY4Nj5qOIqBqJodfmZ44Oykg7xkOtBE%3d&risl=&pid=ImgRaw&r=0">
    </app-small-card>
  </div>
</div>
<div class="container__bottom-articles">
  <div class="articles__bottom">
    <app-bottom-card Id="5" cardTitle="Produtor da série Black Mirror tentou usar ChatGPT, mas se decepcionou"
    photoCover="https://th.bing.com/th/id/R.0ad60c0d2782f223001852af61042c2d?rik=myQqzDN%2bZOZtfA&riu=http%3a%2f%2fksassets.timeincuk.net%2fwp%2fuploads%2fsites%2f55%2f2017%2f11%2f2017_CharlieBrooker_Rex_291117.jpg&ehk=c5Ebm0eKj9hbtY4Nj5qOIqBqJodfmZ44Oykg7xkOtBE%3d&risl=&pid=ImgRaw&r=0">
    </app-bottom-card>

    <app-bottom-card Id="6" cardTitle="Produtor da série Black Mirror tentou usar ChatGPT, mas se decepcionou"
    photoCover="https://th.bing.com/th/id/R.0ad60c0d2782f223001852af61042c2d?rik=myQqzDN%2bZOZtfA&riu=http%3a%2f%2fksassets.timeincuk.net%2fwp%2fuploads%2fsites%2f55%2f2017%2f11%2f2017_CharlieBrooker_Rex_291117.jpg&ehk=c5Ebm0eKj9hbtY4Nj5qOIqBqJodfmZ44Oykg7xkOtBE%3d&risl=&pid=ImgRaw&r=0">
    </app-bottom-card>

    <app-bottom-card Id="7" cardTitle="Produtor da série Black Mirror tentou usar ChatGPT, mas se decepcionou"
    photoCover="https://th.bing.com/th/id/R.0ad60c0d2782f223001852af61042c2d?rik=myQqzDN%2bZOZtfA&riu=http%3a%2f%2fksassets.timeincuk.net%2fwp%2fuploads%2fsites%2f55%2f2017%2f11%2f2017_CharlieBrooker_Rex_291117.jpg&ehk=c5Ebm0eKj9hbtY4Nj5qOIqBqJodfmZ44Oykg7xkOtBE%3d&risl=&pid=ImgRaw&r=0">
    </app-bottom-card>

    <app-bottom-card Id="8" cardTitle="Produtor da série Black Mirror tentou usar ChatGPT, mas se decepcionou"
    photoCover="https://th.bing.com/th/id/R.0ad60c0d2782f223001852af61042c2d?rik=myQqzDN%2bZOZtfA&riu=http%3a%2f%2fksassets.timeincuk.net%2fwp%2fuploads%2fsites%2f55%2f2017%2f11%2f2017_CharlieBrooker_Rex_291117.jpg&ehk=c5Ebm0eKj9hbtY4Nj5qOIqBqJodfmZ44Oykg7xkOtBE%3d&risl=&pid=ImgRaw&r=0">
    </app-bottom-card>
  </div>
</div>